#include "resources.h"

IDR_RCDATA1 RCDATA DISCARDABLE
BEGIN
    0x42, 0x65, 0x64, 0x7A, 0x69, 0x65, 0x20, 0x73,
    0x6F, 0x62, 0x69, 0x65, 0x20, 0x74, 0x65, 0x73,
    0x74, 0x6F, 0x77, 0x61, 0x20, 0x72, 0x7A, 0x65,
    0x63, 0x7A, 0x00
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_STRING1             "Pierwszy string"
    IDS_STRING2             "Drugi string"
    IDS_STRING3             "No co? Testujemy, nie? ;-)"
END
